serviceName: "docs"
replicaCount: 1

image:
  repository: harbor.lafdru.local/public/jiffoo-mall/docs
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: harbor-secret

service:
  enabled: true
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 3001

ingress:
  enabled: true
  className: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
  hosts:
    - host: jiffoo-docs.chfastpay.com
      paths:
        - path: /
          pathType: Prefix

env:
  - name: NODE_ENV
    value: "production"
  - name: PORT
    value: "3001"
  - name: LOG_LEVEL
    value: "info"

resources: {}
livenessProbe: {}
readinessProbe: {}
startupProbe: {}
persistence: {}
envFromConfigMap: {}
