{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "jiffoo-mall-core.serviceAccountName" . }}
  labels:
    {{- include "jiffoo-mall-core.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
automountServiceAccountToken: false
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "jiffoo-mall-core.fullname" . }}
  labels:
    {{- include "jiffoo-mall-core.labels" . | nindent 4 }}
rules:
- apiGroups: [""]
  resources: ["pods", "services", "configmaps", "secrets"]
  verbs: ["get", "list", "watch"]
- apiGroups: ["apps"]
  resources: ["deployments", "replicasets"]
  verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "jiffoo-mall-core.fullname" . }}
  labels:
    {{- include "jiffoo-mall-core.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "jiffoo-mall-core.fullname" . }}
subjects:
- kind: ServiceAccount
  name: {{ include "jiffoo-mall-core.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
{{- end }}
