serviceName: "admin"
replicaCount: 1

image:
  repository: harbor.lafdru.local/public/jiffoo-mall/admin
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: harbor-secret

service:
  enabled: true
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 3000

ingress:
  enabled: true
  className: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
  hosts:
    - host: jiffoo-admin.chfastpay.com
      paths:
        - path: /
          pathType: Prefix

env:
  - name: NODE_ENV
    value: "production"
  - name: PORT
    value: "3000"
  - name: LOG_LEVEL
    value: "info"

resources: {}
livenessProbe: {}
readinessProbe: {}
startupProbe: {}
persistence: {}
envFromConfigMap: {}
